---
import Section from "../system/Section.astro";
import Text from "../system/Text.astro";
import Button from "../system/Button.astro";
import { Image } from "astro:assets";
import academics1 from "../../image/homepage/3.jpeg";
import academics2 from "../../image/homepage/2.jpeg";
import Sal from "../system/Sal.astro";
import Scribble from "../Scribble.astro";
---

<Section class="pb-[0px]">
  <div class="w-full text-center">
    <Sal preset="slide-up" d="300" t="400">
      <Text type="h2">
        Our <span class="relative">
          Academics
          <Scribble class="left-2" />
        </span>
      </Text>
    </Sal>
    <div class="p-2"></div>
    <Sal preset="slide-up" d="400" t="400">
      <Text type="lg" class="font-bold">
        Nurturing Inquisitive Minds at <span class="text-black">Ekam</span>
      </Text>
    </Sal>
  </div>
  <div class="p-[30px] max-md:p-[10px]"></div>
  <div class="flex flex-row max-md:flex-col gap-12 max-md:gap-6">
    <Sal preset="fade" d="500" t="500" class="flex-1">
      <Image
        src={academics2}
        alt="Academics at one of the best CBSE schools in Electronic City"
        class="flex-1 h-[350px] object-cover object-[20%_20%] border-[10px] border-[#FFC784]/60"
      />
    </Sal>
    <div class="flex-1">
      <Sal preset="slide-up" d="400" t="600">
        <Text type="lg" class="font-bold leading-[140%]">
          CBSE Curriculum - Fueled by Inquiry,
          <span class="text-primary">
            Enriched by Exploration
          </span>
        </Text>
      </Sal>
      <div class="p-3 max-md:p-2"></div>
      <Sal preset="slide-up" d="300" t="400">
        <Text type="base">
          A child's journey begins with the dynamic Early Years Program (ESP), laying a strong foundation in the Primary School Program (PSP). Progressing through the nurturing Middle School Program (MSP) and culminating in the Secondary School Program (SSP) for higher education readiness. Customised for your child's age and goals, ensuring an engaging, impactful education!
        </Text>
      </Sal>
      <div class="max-md:p-2 p-4"></div>
      <Sal preset="slide-up" d="400" t="600">
        <a href="/cbse-curriculum">
          <Button>Explore CBSE Academics</Button>
        </a>
      </Sal>
    </div>
  </div>
  <div class="p-[50px] max-md:p-[10px]"></div>
  <div class="flex flex-row max-md:flex-col gap-20 max-md:gap-8">
    <div class="flex-1 max-md:order-1">
      <Sal preset="slide-up" d="400" t="600">
        <Text type="lg" class="font-bold leading-[140%]">
          CAIE Curriculum - 
          <span class="text-primary">Pioneering Learning</span>
          for the Global Stage
        </Text>
      </Sal>
      <div class="p-3 max-md:p-1"></div>
      <Sal preset="slide-up" d="400" t="600">
        <Text type="base">
          Cambridge Assessment International Education prepares students for life, fostering an informed curiosity and a lasting passion for learning. As part of the University of Cambridge, we ensure our international qualifications are recognised by the world’s leading universities and employers, thereby offering students a vast array of options in their education and careers. We are committed to devoting our resources to deliver high-quality educational programs that unlock learners' potential.
        </Text>
      </Sal>
      <div class="max-md:p-2 p-4"></div>
      <Sal preset="slide-up" d="400" t="600">
        <a href="/cambridge-curriculum">
          <Button>Explore Cambridge Academics</Button>
        </a>
      </Sal>
    </div>
    <Sal preset="fade" d="400" t="700" class="flex-1">
      <Image
        src={academics1}
        alt="CAIE Curriculum at Ekam- Best curriclum among schools near Electronic City"
        class="flex-1 h-[350px] object-cover object-center border-[10px] border-[#FFC784]/60"
      />
    </Sal>
  </div>
</Section>
